
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
}

.end{
  display: flex;
  padding-bottom: 20px;
  margin-top: 640px;
}